a{
  color:black;
  text-decoration: nonegia;
}

@font-face {
  font-family:Gilroy-Light; /* Гарнитура шрифта */
  src: url(font/giloryLight.otf); /* Путь к файлу со шрифтом */
 }
 @font-face {
  font-family:Gilroy-Regular; /* Гарнитура шрифта */
  src: url(font/gilroy-regular.ttf); /* Путь к файлу со шрифтом */
 }
 @font-face {
  font-family:Gilroy-ExtraBold; /* Гарнитура шрифта */
  src: url(font/ofont.ru_Gilroy.ttf); /* Путь к файлу со шрифтом */
 }
.app{
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0;
  margin: 0;
  width: 1024px;
  height: 768px;
  background-image: url(img/bg1.png);
  position: absolute;
}
.content{
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 25px;
  position: absolute;
}
.homeButton{
  font-size: 14px;
  font-family: "DINPro";
  color: rgb(36, 36, 36);
  text-transform: uppercase;
  text-align: left;
  z-index: 7;
  padding-bottom: 70px;
  word-spacing: 20px;
}
.mainContentButtonPointer2{
  -webkit-box-shadow: 0px 0px 5px 2px rgba(244, 186, 207, 0.95) inset;
  -moz-box-shadow: 0px 0px 5px 2px rgba(244, 186, 207, 0.95) inset;
  box-shadow: 0px 0px 5px 2px rgba(244, 186, 207, 0.95) inset;
  font-size: 30px;
  border-radius: 30px;
  width: 35px;
  height: 35px;
  color:white;
  text-align: center;
  background-color: black;
  z-index: 9;
  position: absolute;
  z-index: 16;
}
.mainContentButton2{
  border-radius: 50px;
  background: linear-gradient(to right, #58b3f0, #4298fa);
  font-size: 25px;
  padding: 20px;
  margin-left: 30px;
  margin-top: 17px;
  font-family: "Gilroy-Regular";
  position: absolute;
  left: 700px;
  top: 50px;
  z-index: 8;
  border:0;
}
.mainContentHello {
  padding-top: 65px;
  font-size: 23px;
  letter-spacing:3px;
  font-family: "DINPro";
  color: rgb(36, 36, 36);
  text-transform: uppercase;
  text-align: left;
  z-index: 7;
}
.mainContentText{
  padding-top: 20px;
  font-size: 90px;
  letter-spacing:11px;
  font-family: "Gilroy-Light";
  color: rgb(23, 23, 23);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  z-index: 6;
}
.extraBold{
  font-family:"Gilroy-ExtraBold";
}
.mainContentButton{
  border-radius: 50px;
  background: linear-gradient(to right, #ff8db5, #ff6a9f);
  font-size: 25px;
  padding: 20px;
  margin-left: 30px;
  margin-top: 17px;
  font-family: "Gilroy-Regular";
  position: absolute;
  
  z-index: 8;
  border:0;
}
.mainContentButtonPointer{
  -webkit-box-shadow: 0px 0px 5px 2px rgba(244, 186, 207, 0.95) inset;
  -moz-box-shadow: 0px 0px 5px 2px rgba(244, 186, 207, 0.95) inset;
  box-shadow: 0px 0px 5px 2px rgba(244, 186, 207, 0.95) inset;
  font-size: 30px;
  border-radius: 30px;
  width: 35px;
  height: 35px;
  color:white;
  text-align: center;
  background-color: black;
  z-index: 9;
  position: absolute;
}
.mainContentButtonText{
  margin-left: 50px;
}
.label{
  position: fixed;

  font-size: 14px;
  left: 85px;
  top: 734px;
  width: 114px;
  height: 24px;
  z-index: 98;
  
}
.bakti_1 {
  background-image: url("./img/bakti_111.png");
  position: absolute;
  left: 23px;
  top: 503px;
  width: 73px;
  height: 71px;
  z-index: 4;
}
.pink_sperm {
  background-image: url("./img/pink_sperm.png");
  background-repeat: no-repeat;
  filter: blur(4px);
  position: absolute;
  top: 587px;
  width: 413px;
  height: 183px;
  z-index: 5;
}
.pink_sperm_1 {
  background-image: url("./img/pink_sperm_1.png");
  position: absolute;
  left: 432px;
  top: 155px;
  width: 592px;
  height: 93px;
  z-index: 11;
}
.blueBaktiFirst {
  background-image: url("./img/bluebakti1.png");
  position: absolute;
  left: 347px;
  top: 631px;
  width: 85px;
  height: 77px;
}
.blueBaktiSecond {
  background-image: url("./img/bluebakti1.png");
  position: absolute;
  left: 917px;
  top: 30px;
  width: 85px;
  height: 77px;
}

.blueBaktiLong {
  background-image: url("./img//bluebakti12.png");
  background-repeat: no-repeat;
  position: absolute;
  left: -1px;
  top: 72px;
  width: 214px;
  height: 115px;
  z-index: 16;
}



.blueBaktiMove {
  background-image: url("./img/animbluebakti.png");
  position: absolute;
  left: 745px;
  top: 61px;
  width: 63px;
  height: 57px;
  z-index: 15;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation: AnimationBlueBaktiMove 15s infinite ease-in-out;
  animation: AnimationBlueBaktiMove 15s infinite ease-in-out;
}

.blueBaktiSize {
  background-image: url("./img/animbluebaktisize.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 542px;
  top: 641px;
  width: 227px;
  height: 224px;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation: AnimationBlueBaktiSize 10s infinite ease-in-out;
  animation: AnimationBlueBaktiSize 10s infinite ease-in-out;
}

.blueBaktiMove2 {
  background-image: url("./img/animbluebakti2.png");
  position: absolute;
  left: 662px;
  top: 200px;
  width: 110px;
  height: 113px;
  z-index: 17;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation: AnimationBlueBaktiMove2 15s infinite ease-in-out;
  animation: AnimationBlueBaktiMove2 15s infinite ease-in-out;
}
.mainContentTextSecondPage{
  font-size: 23px;
  letter-spacing:3px;
  font-family: "DINPro";
  color: rgb(36, 36, 36);
  text-transform: uppercase;
  text-align: left;
  z-index: 7;
}
.prokrutka {
  height: 450px; /* высота нашего блока */
  width: 773px; /* ширина нашего блока */
  background: #fff; /* цвет фона, белый */
  border: 1px solid #C1C1C1; /* размер и цвет границы блока */
  overflow-x: scroll; /* прокрутка по горизонтали */
  font-size: 25px;
  font-family: "DINPro";
  color: rgb(36, 36, 36);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 130px;
  top:200px;
  border-radius: 30px;
  padding: 20px;
  border: 20px solid white;
  z-index: 99;
  }

  .pinkSpermSecondPage1{
    background-image: url("./img/pink_sperm_page24.png");
    background-repeat: no-repeat;
      position: absolute;
      left: 300px;
      top: 10px;
      width: 730px;
      height: 342px;
      -webkit-animation-delay: 0.5s;
      animation-delay: 0.5s;
      -webkit-animation: AnimationBlueSpermMove 3s;
      animation: AnimationBlueSpermMove 3s ;
  }
  .pinkSpermSecondPage2 {
    background-image: url("./img/pink_sperm_page25.png");
    background-repeat: no-repeat;
    position: absolute;
    left: -90px;
    top: 100px;
    width: 1141px;
    height: 731px;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation: AnimationBlueSpermMove 3s;
    animation: AnimationBlueSpermMove 3s ;
    z-index: 1;
  }
  .pinkSpermSecondPage3{
    background-image: url("./img/pink_sperm_page24.png");
    background-repeat: no-repeat;
      position: absolute;
      left: 200px;
      top: 60px;
      width: 1141px;
      height: 531px;
      -webkit-animation-delay: 0.5s;
      animation-delay: 0.5s;
      -webkit-animation: AnimationBlueSpermMove 3s;
      animation: AnimationBlueSpermMove 3s ;
  }
  .pinkSpermSecondPage4{
    background-image: url("./img/pink_sperm_page24.png");
    background-repeat: no-repeat;
      position: absolute;
      left: 550px;
      top: 560px;
      width: 1141px;
      height: 531px;
      -webkit-animation-delay: 0.5s;
      animation-delay: 0.5s;
      -webkit-animation: AnimationBlueSpermMove 3s;
      animation: AnimationBlueSpermMove 3s ;
  }
  .pinkSpermSecondPage5{
    background-image: url("./img/pink_sperm_page24.png");
    background-repeat: no-repeat;
      position: absolute;
      left: 520px;
      top: 460px;
      width: 1141px;
      height: 531px;
      -webkit-animation-delay: 0.5s;
      animation-delay: 0.5s;
      -webkit-animation: AnimationBlueSpermMove 3s;
      animation: AnimationBlueSpermMove 3s ;
  }
  .mainContentTextThirdPage {
    font-size: 20px;
    font-family: "Gilroy";
    color: rgb(36, 36, 36);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
    position: absolute;
    left: 400px;
    top: 200px;
    z-index: 5;
    
  }
  .thirdPageLabel{
    font-size: 80px;
    position: absolute;
    top: -30px;
    left: -5px;
  }
  .thirdPageTextBlock1{
    background-color: white;
    position: absolute;
    left: 300px;
    top: 400px;
    padding: 30px;
    width: 200px;
    border-radius: 20px;
    box-shadow: 0 0 3px 1px rgb(178, 192, 236);
  }
  .thirdPageTextBlock2{
    background-color: white;
    position: absolute;
    left:650px;
    top: 410px;
    padding: 20px;
    width: 150px;
    border-radius: 20px;
    box-shadow: 0 0 3px 1px rgb(178, 192, 236);
  }
  .thirdContentButton{
    width: 170px;
    text-align: right;
    position: absolute;
    left:560px;
    top: 530px;
  }
  .mainContentButtonPlus{
  -webkit-box-shadow: 0px 0px 5px 2px rgba(244, 186, 207, 0.95) inset;
  -moz-box-shadow: 0px 0px 5px 2px rgba(244, 186, 207, 0.95) inset;
  box-shadow: 0px 0px 5px 2px rgba(244, 186, 207, 0.95) inset;
  font-size: 30px;
  border-radius: 30px;
  width: 35px;
  height: 35px;
  color:white;
  text-align: center;
  background-color: black;
  z-index: 9;
  position: absolute;
  left: 15px;
  top: 17px;
  }
  .thirdPageLabel2{
    width: 270px;
  }
  .bottle{
    position: absolute;
    left: 30px;
    top: 100px;
    z-index: 15;
  }
  .food{
    top: 100px;
    left: 100px;
    z-index: 5;
    position: absolute;
    left: 330px;
    top: 370px;
  }

  .time{
    top: 100px;
    left: 100px;
    z-index: 5;
    position: absolute;
    left: 660px;
    top: 380px;
  }

  .bubblePink21{
    position: absolute;
  width: 63px;
  height: 57px;
  z-index: 15;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation: AnimationBlueBaktiMove 15s infinite ease-in-out;
  animation: AnimationBlueBaktiMove 15s infinite ease-in-out;
  }
  .bubblePink22{
    position: absolute;
  width: 70px;
  height: 70px;
  z-index: 15;
  top: 400px;
  left: 900px;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation: AnimationBlueBaktiMove 15s infinite ease-in-out;
  animation: AnimationBlueBaktiMove 15s infinite ease-in-out;
  }
  .bubblePink23{
    position: absolute;
  width: 70px;
  height: 70px;
  z-index: 15;
  top: 600px;
  left: 200px;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation: AnimationBlueBaktiMove 15s infinite ease-in-out;
  animation: AnimationBlueBaktiMove 15s infinite ease-in-out;
  }
  .bubblePink24{
    position: absolute;
  width: 100px;
  height: 100px;
  z-index: 15;
  top: 150px;
  left: 700px;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation: AnimationBlueBaktiMove 15s infinite ease-in-out;
  animation: AnimationBlueBaktiMove 15s infinite ease-in-out;
  }
  .bubbleblue11{
    position: absolute;
  width: 130px;
  height: 130px;
  z-index: 5;
  top: 60px;
  left: 800px;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation: AnimationBlueBaktiMove 15s infinite ease-in-out;
  animation: AnimationBlueBaktiMove 15s infinite ease-in-out;
  }
  .bubbleblue12{
    position: absolute;
  width: 60px;
  height: 60px;
  z-index: 15;
  top: 360px;
  left: 200px;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation: AnimationBlueBaktiMove 15s infinite ease-in-out;
  animation: AnimationBlueBaktiMove 15s infinite ease-in-out;
  }

  .bubbleblue13{
    position: absolute;
  width: 60px;
  height: 60px;
  z-index: 5;
  top: 600px;
  left: 500px;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation: AnimationBlueBaktiMove 15s infinite ease-in-out;
  animation: AnimationBlueBaktiMove 15s infinite ease-in-out;
  }

  

  .popup{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(32, 32, 32);
    top: 0px;
    left: 0px;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
  }
  .popupBody{
    padding: 30px 10px;
    display: flex;
    min-height: 100%;
    align-items: center;
    justify-content: center;
  }
  .popupArea{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .popupContent{
    border-radius: 40px;
    background-color: white;
    color: black;
    position: relative;
    width: 822px;
    height: 580px;
  }
  .popupClose{
    position: absolute;
    right: 30px;
    top: 10px;
    font-size: 30px;
    color: rgb(90, 90, 90);
  }
  .popup:target{
    opacity: 1;
    visibility: visible;
  }
  @-webkit-keyframes AnimationBlueSpermMove {
    0% {
      transform: translate(0%, 0%);
    }
    100% {
      transform: translate(55%, 100%);
    }
  
  }
  @keyframes AnimationBlueSpermMove {
    0% {
    transform: translate(55%, 100%);
  }
  100% {
    transform: translate(0%, 0%);
  }
  }  

@-webkit-keyframes AnimationBlueBaktiMove {
  0% {
    transform: translate(55%, 100%);
  }
  100% {
    transform: translate(0%, 0%);
  }

}
@keyframes AnimationBlueBaktiMove {
  0% {
    transform: translate(0%, 0%);
  }

  50% {
    transform: translate(55%, 100%);
  }

}

@-webkit-keyframes AnimationBlueBaktiMove2 {
  0% {
    transform: translate(0%, 0%);
  }
  50% {
    transform: translate(-55%, -100%);
  }

}
@keyframes AnimationBlueBaktiMove2 {
  0% {
    transform: translate(0%, 0%);
  }

  50% {
    transform: translate(-55%, -100%);
  }

}


@-webkit-keyframes AnimationBlueBaktiSize {
  0% {
    transform: scale(1)
  }

  50% {
    transform: scale(1.5)
  }

}
@keyframes AnimationBlueBaktiSize {
  0% {
    transform: scale(1)
  }

  50% {
    transform: scale(1.5)
  }

} 
  /* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
  width: 5px; /* ширина для вертикального скролла */
  height: 0px; /* высота для горизонтального скролла */
  background: black; /* Цвет скроллбара */
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background: #E87D0D; /* Цвет ползунка скроллбара */
  border-radius: 7em; /* Закругление углов ползунка скроллбара */
  box-shadow: inset 2px 1px 7px #d3149a; /* Тень ползунка */
}


::-webkit-scrollbar-button:vertical:end:increment {
  background:
      linear-gradient(300deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
      linear-gradient(60deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
      linear-gradient(180deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #f6f8f4;
}

::-webkit-scrollbar-button:horizontal:start:decrement {
  background:
      linear-gradient(30deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
      linear-gradient(150deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
      linear-gradient(270deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #f6f8f4;
}

::-webkit-scrollbar-button:horizontal:end:increment {
  background:
      linear-gradient(210deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
      linear-gradient(330deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
      linear-gradient(90deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #f6f8f4;
}